{% extends "contracts/charts/charts_base.html" %}
{% block content %}
    <div class="container" style="width: 45%;">
        <h2 class="text-center fs-6 mt-4">Contract Status Chart</h2>
        <canvas id="contractStatusChart" width="150" height="100"></canvas>
    </div>
    <script>
document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('contractStatusChart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [],
            datasets: [{
                label: 'Contract Status',
               backgroundColor: [
                'red', 'green', '#A9A9A9', '#C0C0C0', '#D3D3D3',
                'blue', 'yellow', 'orange', 'purple', 'pink', '#FF6347', '#4682B4'
              ],

                data: []
            }]
        },
        options: {}
    });

    function updateChart() {
        fetch("{% url 'contracts:contracts_chart' %}", {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            chart.data.labels = data.labels;
            chart.data.datasets[0].data = data.data;
            chart.update();
        })
        .catch(error => console.error('Error loading the data: ', error));
    }

    updateChart();
    setInterval(updateChart, 10000);  // Update the chart every 10 seconds
});
    </script>
{% endblock content %}
