{% extends "base.html" %}
{% block html_title %}
    {{ html_title }}
{% endblock html_title %}
{% block metadescription %}
{% endblock metadescription %}
{% block content %}
    <div class="container mt-4 mb-4">
        <h2>Our Complaints Handling Policy</h2>
        <p>
            <strong>Last updated: 04/05/2022 v2</strong>
        </p>
        <p>
            At Energy Portfolio we work hard to maintain a very high standard of service for you as the Managing Agent and your client. Energy Portfolio specialise within the RICS/ARMA sector. We currently help 145 Managing Agents in the UK managing over 22,500 electricity and gas meters. We are a ‘One Stop Shop’ covering all aspects of both procurement and dealing with Electricity, Gas and Water suppliers for all day-to-day queries.
        </p>
        <h4>What we are and who we supply our Services to</h4>
        <p>
            We are an ‘energy broker’. An energy broker is an intermediary and we provide the service of researching and securing energy deals for our clients (or more precisely for the owners of the properties that you).
        </p>
        <p>
            We will use reasonable care and skill in the delivery of our Services that have been agreed and in accordance with any generally accepted professional standards observed by companies offering similar services to our Services in the United Kingdom.
        </p>
        <p>
            We will make reasonable commercial efforts to meet any timescales set out in the description of our Services in the Schedule, but such timescales are indicative only and are not of the essence of the contract.
        </p>
        <p>
            Please remember your supply agreement is a direct contract with your energy supplier. Energy Portfolio acts as an intermediary and hold no responsibility for the actions of the licensed operator.
        </p>
        <p>
            We don't always get everything quite right. If you’re unhappy with our services for any reason then we’d really like to understand why, so we can put things right as quickly and effectively as possible. This will also help us improve our service moving forward.
        </p>
        <h4>Our contract placement process</h4>
        <p>
            For clarity we have no preference on which suppliers we work with as long as we can demonstrate they offer overall a good proposition. We will obtain at least 3 comparable quotes before agreeing to a contract. It is important to note that we only place contracts for a 12-month contractual term to ensure full compliance with section 20.
        </p>
        <p>
            It’s really hard to find the perfect supplier based on payment terms etc. Lots of energy suppliers do not offer quotes to customers paying by BACS and with direct debit being a less common way of paying for communal costs, options can be limited. Added to this is the further hurdle many RTM entities and freeholders face of having unknown or nontrading statuses held with the credit agencies (typically Experian and Equifax) that suppliers use to assess potential customers.
        </p>
        <p>
            We understand this risk well and actually underwrite a large amount of the energy contracts we place to avoid the need to place security deposits or pay excessive rates.
        </p>
        <h4>What about the Residential Price Cap?</h4>
        <p>
            The residential price cap is in place to protect domestic household supplies only and don’t protect our residential management clients who often use this as a benchmark for pricing.
        </p>
        <p>
            The energy regulator Ofgem sets the energy price cap in a bid to limit the price a supplier can charge you per unit of electricity and gas. However, the energy cap only applies to customers who are on a standard variable tariff (SVT) which is usually a provider’s most expensive tariff.
        </p>
        <p>
            Energy supply meters have to be set up under a business account because the contract entity is a business, even though residential management companies are non-trading in nature they are still classed a business. The VAT declarations on the accounts reflect the nature of the supply which reduces the VAT percentage from 20% for commercial business to 5% for residential supplies so your clients aren’t affected by this.
        </p>
        <h4>Our Policy</h4>
        <p>
            We want to change the way the Property Sector manage and procure utilities. We understand what you need and the challenges you face now and in the future. You need Property Managers to focus on managing property rather than utility bills. This is why we’ve created a process that allows you to easily raise your concerns and have them dealt with swiftly.
        </p>
        <p>
            This Procedure doesn’t cover loss of electricity and/or gas supply; if you experience problems with loss of supply you should contact your distribution company directly. Their contact number is shown on your bill as the Emergency Number or in the telephone book under electricity.
        </p>
        <p>
            If you can smell gas or are experiencing problems with loss of gas supply you should call the Gas Emergency Service on freephone 0800 111 999.
        </p>
        <h4>How we earn Money</h4>
        <p>
            Energy Portfolio will earn a commission directly from the energy supplier. Commission on top of the supplier’s base price is included in pence per kWh. Depending on the meters consumption this will vary. We also build an element of commission into the standing charge. Our services include;
        </p>
        <ul>
            <li>Energy Procurement</li>
            <li>Invoice Validation and System Integration</li>
            <li>Dedicated Account Manager</li>
            <li>Submission of VAT declarations</li>
            <li>Service Guarantees on ‘Out of Contracts’ and ‘Price Promise’</li>
            <li>Credit Underwriting Service</li>
            <li>Smart Meter replacement programme</li>
        </ul>
        <h4>Complaints Process</h4>
        <p>
            <strong>Step 1 - Making a complaint</strong>
        </p>
        <p>
            In the event that you do wish to make a complaint, please contact your dedicated Account Manager at your earliest convenience.
        </p>
        <ol>
            <li>Calling 0845 177 1376 (Monday to Friday 9am to 5pm)</li>
            <li>
                Emailing: <a href="mailto:info@energyportfolio.co.uk?subject=Complaint">Email Complaint</a>
            </li>
        </ol>
        <p>
            <strong>Step 2 - Escalating your complaint within Energy Portfolio</strong>
        </p>
        <p>
            If you are not satisfied with the response from your Account Manager you can escalate the complaint to the Strategic Director, Martin Davis and/or the Business Owner, Mark Borg.
        </p>
        <ol>
            <li>Calling 0845 177 1376 (Monday to Friday 9am to 5pm)</li>
            <li>
                <a href="mailto:martin@energyportfolio.co.uk">Email Strategic Director</a>
            </li>
        </ol>
        <p>We will endeavour to close the complaint within 5 working days. The conclusion will be confirmed in writing.</p>
        <p>
            <strong>Step 3 - Escalating your complaint outside Energy Portfolio</strong>
        </p>
        <p>
            If you aren’t happy with the outcome you can submit a formal complaint via the<a href="https://www.ombudsman-services.org/can-i-complain.">Energy Ombudsman</a>
        </p>
        <p>Or contact the Energy Supplier direct to escalate the complaint further:</p>
        <ul>
            <li>
                <a href="https://sse.co.uk/about-us/sse-and-you/making-a-complaint">SSE</a>
            </li>
            <li>
                <a href="https://www.coronaenergy.co.uk/policies/our-complaints-process/">Corona Energy</a>
            </li>
            <li>
                <a href="https://www.crowngas.co.uk/customer-support/customer-complaints-policy/">Crown Gas</a>
            </li>
            <li>
                <a href="https://www.goodenergy.co.uk/customer-care/help-topics/complaints/">Good Energy</a>
            </li>
            <li>
                <a href="https://www.eonenergy.com/contact/complaints.html">Eon Energy</a>
            </li>
            <li>
                <a href="https://business.totalenergies.uk/quick-links/complaints">Total Energy</a>
            </li>
            <li>
                <a href="https://pozitive.energy/contact-us">Pozitive Energy</a>
            </li>
            <li>
                <a href="https://www.edfenergy.com/for-home/help-support/making-complaint">EDF Energy</a>
            </li>
        </ul>
    </div>
{% endblock content %}
