{% extends "base.html" %}
{% block html_title %}
    {{ html_title }}
{% endblock html_title %}
{% block metadescription %}
{% endblock metadescription %}
{% block content %}
   <div class="container mt-4 mb-4">
<h1 class="mi fs-4 text-center">Our Complaints Handling Policy</h1>
     <h6 class="text-center">Date published: March 2024 V5</h6>

     <h2 class="fs-6"><strong>About Us</strong></h2>
    <p>At Energy Portfolio, we work hard to maintain a very high standard of service for you as the Managing Agent and your client. We specialize within the RICS/ARMA sector, currently helping 145 Managing Agents in the UK manage over 22,500 electricity and gas meters.</p>

     <h2 class="fs-6"><strong>Our Services</strong></h2>
    <p>We are a 'One Stop Shop' covering all aspects of both procurement and dealing with Electricity, Gas and Water suppliers for all day-to-day queries. Energy Portfolio is fully approved by the Energy Ombudsman Alternative Dispute Resolution (ADR) scheme, which officially goes live on December 1, 2022.</p>

     <h2 class="fs-6"><strong>What We Are</strong></h2>
    <p>We are an 'energy broker', an intermediary providing the service of researching and securing energy deals for our clients (or more precisely for the owners of the properties that you manage).</p>

     <h2 class="fs-6"><strong>Our Commitment</strong></h2>
    <ul>
        <li>We use reasonable care and skill in delivering our services.</li>
        <li>We make reasonable commercial efforts to meet agreed timescales.</li>
        <li>We strive to put things right quickly and effectively if you're unhappy with our services.</li>
    </ul>

     <h2 class="fs-6"><strong>Contract Placement Process</strong></h2>
    <p>We obtain at least 3 comparable quotes before agreeing to a contract and only place contracts for a 12-month term to ensure full compliance with section 20.</p>

    <h2 class="fs-6">Residential Price Cap</h2>
    <p>The residential price cap only applies to domestic household supplies and doesn't protect our residential management clients. Energy supply meters for residential management companies are set up under a business account.</p>

     <h2 class="fs-6"><strong>Our Policy</strong></h2>
    <p>We aim to change the way the Property Sector manages and procures utilities. We've created a process that allows you to easily raise concerns and have them dealt with swiftly.</p>

     <h2 class="fs-6"><strong>How We Earn Money</strong></h2>
    <p>Energy Portfolio earns a commission directly from the energy supplier, included in pence per kWh and the standing charge.</p>

     <h2 class="fs-6"><strong>Complaints Procedure</strong></h2>
     <h2 class="fs-6"><strong>Step 1</strong> - Making a complaint</h2>
    <p>Contact your dedicated Account Manager by:</p>
    <ul>
        <li>Calling 0845 177 1376 (Monday to Friday 9am to 5pm)</li>
        <li>Email info@energyportfolio.co.uk – using the subject Complaint</li>
    </ul>

     <h2 class="fs-6"><strong>Step 2</strong> - Escalating your complaint within Energy Portfolio</h2>
    <p>If not satisfied, escalate to:</p>
    <ul>
        <li>Jo Robertson, Chief Operating Officer: jo@energyportfolio.co.uk or 07817 857111</li>
        <li>Mark Borg, Managing Director: mark@energyportfolio.co.uk or 07714763148</li>
    </ul>

     <h2 class="fs-6"><strong>Step 3</strong> - Escalating your complaint outside Energy Portfolio</h2>
    <p>If still not satisfied, you can submit a formal complaint via the <a href="https://www.ombudsman-services.org/sectors/energy-brokers">Energy Ombudsman</a>.</p>

     <h2 class="fs-6"><strong>Energy Supplier Complaint Links</strong></h2>
    <ul>
        <li><a href="https://sse.co.uk/about-us/sse-and-you/making-a-complaint">SSE</a></li>
        <li><a href="https://www.coronaenergy.co.uk/policies/our-complaints-process/">Corona Energy</a></li>
        <li><a href="https://www.crowngas.co.uk/customer-support/customer-complaints-policy/">Crown Gas</a></li>
        <li><a href="https://www.goodenergy.co.uk/customer-care/help-topics/complaints/">Good Energy</a></li>
        <li><a href="https://www.eonenergy.com/contact/complaints.html">E.ON Energy</a></li>
        <li><a href="https://business.totalenergies.uk/quick-links/complaints">TotalEnergies</a></li>
        <li><a href="https://pozitive.energy/contact-us">Pozitive Energy</a></li>
        <li><a href="https://www.edfenergy.com/for-home/help-support/making-complaint">EDF Energy</a></li>
    </ul>
   </div>
{% endblock content %}