{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block html_title %}
    Energy Portfolio | Contact Us
{% endblock html_title %}
{% block metadescription %}
{% endblock metadescription %}
{% block content %}
    <div class="container">
        <div class="row mt-3">
            <h4 class="text-center">Contact Us</h4>
            <p class="text-center">
                You can contact us by either using the enquiry form below
                <br>
                For any complaints, please view our <a href="{% url 'pages:complaints_policy' %}">complaints handling policy.</a>
            </p>
        </div>
    </div>
    <div class="container shadow-md form-layout">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <form method="post" action="" autocomplete="off">
                    {% csrf_token %}
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.phone|as_crispy_field }}
                    <p>
                        <strong>Optional Information:</strong>
                    </p>
                    {{ form.company|as_crispy_field }}
                    {{ form.message|as_crispy_field }}
                    {{ form.captcha|as_crispy_field }}
                    <div class="col-md-4 text-center mb-4">
                        <button class="submit btn btn-secondary btn-md mt-3">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
