{% extends "base.html" %}
{% load static %}
{% block html_title %}
    {{ html_title }}
{% endblock html_title %}
{% block metadescription %}
    <meta name="description"
          content="Energy Portfolio evolving our services to match the ever changing energy market   ">
{% endblock metadescription %}
{% block content %}
    <section id="the_hero">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Specialists in cost effective energy procurement</h1>
            </div>
        </div>
    </section>
    <!-- Partners -->
    <section class="partners py-4 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h4 class="text-center mb-4 text-uppercase">Partners With</h4>
                    <div class="d-flex justify-content-center align-items-center text-center">
                        <div>
                            <img src="{% static 'img/arma-partner-logo.png' %}"
                                 height="100"
                                 width="auto"
                                 alt=""
                                 class="mx-4" />
                        </div>
                        <div class="d-none d-sm-block">
                            <img src="{% static 'img/IRMP+Annual+Seminar+2019.png' %}"
                                 height="100"
                                 width="auto"
                                 alt=""
                                 class="mx-4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h4 class="section-headings text-center mt-4">Our Benefits</h4>
            <!-- Projects Row 1 -->
            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="{% static 'img/homepage-icon-saving-time.png' %}"
                         style="width: 100px;
                                height: auto"
                         alt="">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Saving Management Time</h5>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Contract placement and renewals
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Completion of VAT forms
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Contract terminations with suppliers
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Contract synchronisation to one common end date
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Contract disputes
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Dedicated points of contact with energy suppliers
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Smart, AMR and Sub Metering solutions
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Fraud investigation
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Online platform giving you information at your fingertips
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Bill validation and tenant recharging
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Flexible payment terms
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/homepage-icon-reduced-energy-usage.png' %}"
                         style="width: 100px;
                                height: auto"
                         alt="">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Reducing Energy Costs</h5>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Competitive contract rates
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Market leading price protection guarantee instead of an industry-leading price promise
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Guaranteed acceptance on all contracts regardless of credit score
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Unique approach for non-trading entities with poor credit scores
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                We remove your liability from contracts unlike other brokers that place in the managing agents name
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Utilising client buying power through alignment
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                An industry-leading price promise
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Guaranteed ‘no roll over’ on out of contract rates
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                Comparative market quotes
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/homepage-icon-credibility.png' %}"
                         style="width: 100px;
                                height: auto"
                         alt="">
                    <div class="card-body">
                        <h5 class="card-title fw-bold mt-3">Our Industry Credibilty</h5>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-check text-success"></i>
                                A dedicated team that understand your issues — we have vast experience of the energy and property sector
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                We assist over 80 Block Managing Agents in the UK — the majority of these are either ARMA members, or RICS registered, or both
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                By having a niche in this single market, our services are uniquely designed and tailored to our clients
                            </li>
                            <li>
                                <i class="fas fa-check text-success"></i>
                                The company’s growth in this sector has been largely due to ‘word of mouth’ recommendations
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonials-->
    <section class="testimonials">
        <div class="container py-4 mb-4">
            <h4 class="section-headings text-center">Testimonials</h4>
            <div class="row">
                <div class="col-md">
                    <i class="fas fa-quote-left quote"></i>
                    <p>
                        The team at Energy Portfolio really understand our sector well. They deliver a great service whilst
                        taking the administration burden away from our Property Management team. Thank you.
                    </p>
                    <div class="info">
                        <div class="name">David Poppleton</div>
                        <div class="job">Managing Director | Inspired Property Management</div>
                    </div>
                </div>
                <div class="col-md">
                    <i class="fas fa-quote-left quote"></i>
                    <p>
                        Energy Portfolio have provided efficient, proactive, extremely effective and relevant advice with
                        savings of 40% on our utility bills plus a first class personal service.
                    </p>
                    <div class="info">
                        <div class="name">Alec Guthrie</div>
                        <div class="job">The HML Group</div>
                    </div>
                </div>
                <div class="col-md">
                    <i class="fas fa-quote-left quote"></i>
                    <p>
                        Energy Portfolio have provided efficient, effective advice ensuring that our clients receive the best
                        service and price. We would happily recommend them.
                    </p>
                    <div class="info">
                        <div class="name">Daniel Burkinshaw</div>
                        <div class="job">Owner | Burkinshaw Block Management</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-4">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h4 class="section-headings align-center">Our Clients</h4>
                    <img src="{% static 'img/our-clients.png' %}"
                         class="img-fluid"
                         alt="energy portfolio partner list">
                    <div id="wcb" class="carbonbadge"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
