{% extends "base.html" %}
{% load static %}
{% block html_title %}
    {{ html_title }}
{% endblock html_title %}
{% block metadescription %}
    <meta name="description"
          content="Energy Portfolio. Latest information on the fast changing energy market  ">
{% endblock metadescription %}
{% block content %}
    <div class="container py-5">
        <h1 class="mi fs-4 text-center">Energy Market Update for Property Management Agencies - Q3 2024</h1>
        <h1 class=" mi fs-4">Overview</h1>
        <p>The energy market continues to experience volatility. This instability stems from several factors:</p>
        <ul>
            <li>Geopolitical events</li>
            <li>Regulatory changes</li>
            <li>Shifts in supply and demand dynamics</li>
        </ul>
        <p>For property management agencies, staying informed about these trends is crucial. This knowledge allows for:</p>
        <ul>
            <li>Optimization of energy procurement strategies</li>
            <li>Effective management of costs</li>
        </ul>
        <h1 class=" mi fs-4">Key Drivers of Market Trends</h1>
        <ol>
            <li>
                <h2 class="fs-6">
                    <strong>Geopolitical Tensions</strong>
                </h2>
                <p>
                    Ongoing geopolitical conflicts, particularly in key oil and gas-producing regions, have caused fluctuations in energy prices. Recent escalations in the Middle East and attacks on the Red Sea remains "elevated" have disrupted supply chains, leading to a spike in crude oil prices. (According to the IEA source: ww.ICIS.com)
                </p>
            </li>
            <li>
                <h2 class="fs-6">
                    <strong>Regulatory Changes</strong>
                </h2>
                <p>
                    Governments worldwide are implementing stricter environmental regulations aimed at reducing carbon emissions. These regulations are accelerating the transition to renewable energy sources through government legislated net zero emissions targets impacting traditional energy markets. For instance, subsidy incentives or the European Union's new carbon border adjustment mechanism (CBAM) has increased costs for imported fossil fuels, influencing global market prices.
                </p>
            </li>
            <li>
                <h2 class="fs-6">
                    <strong>Supply Chain Issues</strong>
                </h2>
                <p>
                    The energy sector is grappling with supply chain bottlenecks, partly due to the COVID-19 pandemic's lingering effects and recent natural disasters. These disruptions have affected the availability of essential components for energy production and distribution, leading to increased costs.
                </p>
            </li>
            <li>
                <h2 class="fs-6">
                    <strong>Renewable Energy Growth</strong>
                </h2>
                <p>
                    The push towards renewable energy sources continues to gain momentum. Significant investments in solar, wind, and battery storage technologies are reshaping the market landscape. The International Energy Agency (IEA) projects that renewables will account for 30% of the global energy mix by 2030, up from 25% in 2023.
                </p>
                <p>IEA (2024), Renewable electricity capacity additions by technology and segment, 2016-2028, IEA, Paris</p>
            </li>
        </ol>
        <div class="row d-flex justify-content-center">
            <div class="col-md-5 mt-4">
                <img src="{% static 'img/iea_chart.png' %}"
                     class="img-fluid"
                     alt="Renewable electricity capacity chart">
                <p>
                    <a href="https://www.iea.org/data-and-statistics/charts/renewable-electricity-capacity-additions-by-technology-and-segment-2016-2028"
                       target="_blank"
                       rel="noopener noreferrer">
                        Renewable electricity capacity additions by technology and segment, 2016-2028
                    </a>
                    (License: CC BY 4.0, Chart last updated 11 Jan 2024)
                </p>
                <p>
                    <a href="https://www.iea.org/reports/renewables-2023/electricity"
                       target="_blank"
                       rel="noopener noreferrer">IEA Renewables 2023 - Electricity</a>
                </p>
            </div>
        </div>
        <h1 class="mi fs-4">Impact on Property Management</h1>
        <ol>
            <li>
                <h2 class="fs-6">
                    <strong>Rising Energy Costs</strong>
                </h2>
                <p>
                    The volatility in energy prices directly impacts operational expenses for property management agencies. Budgeting for energy costs has become more challenging, requiring more sophisticated forecasting and hedging strategies.
                </p>
            </li>
            <li>
                <h2 class="fs-6">
                    <strong>Energy Efficiency Investments</strong>
                </h2>
                <p>
                    To mitigate rising costs and comply with regulatory requirements, property managers are increasingly investing in energy efficiency measures. Upgrades to HVAC systems, insulation, and smart building technologies can significantly reduce energy consumption and costs.
                </p>
            </li>
            <li>
                <h2 class="fs-6">
                    <strong>Sustainability Initiatives</strong>
                </h2>
                <p>
                    There is a growing emphasis on sustainability and green building certifications. Property managers are adopting renewable energy sources, such as rooftop solar panels and purchasing green energy contracts, to enhance property value and appeal to environmentally conscious tenants.
                </p>
            </li>
            <li>
                <h2 class="fs-6">
                    <strong>Tenant Expectations</strong>
                </h2>
                <p>
                    Tenants are becoming more aware of energy consumption and sustainability. Property managers who can offer energy-efficient and environmentally friendly properties are likely to attract and retain tenants more effectively.
                </p>
            </li>
        </ol>
        <h1 class="mi fs-4">Strategies for Property Management Agencies</h1>
        <ol>
            <li>
                <h2 class="fs-6">
                    <strong>Energy Audits</strong>
                </h2>
                <p>
                    Conduct regular energy audits to identify inefficiencies and opportunities for cost savings. Implement recommended upgrades and track the impact on energy consumption.
                </p>
            </li>
            <li>
                <h2 class="fs-6">
                    <strong>Renewable Energy Integration</strong>
                </h2>
                <p>
                    Explore options for integrating renewable energy sources into your properties. This could include installing solar panels, investing in wind energy, or entering into power purchase agreements (PPAs) for green energy.
                </p>
            </li>
            <li>
                <h2 class="fs-6">
                    <strong>Smart Technology</strong>
                </h2>
                <p>
                    Invest in smart building technologies that enable real-time monitoring and management of energy use. Automated systems can optimize energy consumption, reducing waste and costs.
                </p>
            </li>
            <li>
                <h2 class="fs-6">
                    <strong>Tenant Engagement</strong>
                </h2>
                <p>
                    Educate tenants about energy conservation practices and provide incentives for reducing energy usage where possible. Transparent communication about energy costs and sustainability efforts can foster a cooperative relationship.
                </p>
            </li>
            <li>
                <h2 class="fs-6">
                    <strong>Energy Procurement Strategies</strong>
                </h2>
                <p>
                    Work with Energy Portfolio to develop procurement strategies that hedge against price volatility. Consider long-term contracts or variable rate plans depending on market conditions & sector legislation.
                </p>
            </li>
        </ol>
        <h1 class="mi fs-4">Conclusion</h1>
        <p>
            Staying ahead of energy market trends is vital, Energy Portfolio enables property management agencies to manage costs, meet and strive to exceed tenant expectations. By adopting energy efficiency measures, integrating renewable energy, and leveraging smart technologies, we can navigate through the complexities of the energy market and enhance the sustainability of managing agent property portfolios.
        </p>
        <h1 class="mi fs-4">FAQs</h1>
        <section>
            <h2 class="fs-6">
                <strong>What about my current outstanding invoices?</strong>
            </h2>
            <p>
                It is important that you pay any outstanding invoices as suppliers will disconnect meters for unpaid debts or object to switches until you settle the invoices.
            </p>
        </section>
        <section>
            <h2 class="fs-6">
                <strong>What if you are out of contract now?</strong>
            </h2>
            <p>
                If you are out of contract with your current supplier, as your broker we will review the market, place the best contract that suits your requirements and manage the energy side of your business. Please contact us and we will help you.
            </p>
        </section>
        <section>
            <h2 class="fs-6">
                <strong>What are the recent Energy Price Caps from Ofgem?</strong>
            </h2>
            <p>
                Under the changes, Ofgem will from 1 July 2024: they will expand the Standards of Conduct to apply to all businesses of any size, rather than just Micro Business consumers. This will give Ofgem powers to act against suppliers that do not treat non-domestic customers fairly. Source Dated: 5 Apr 2024 (<a href="https://www.ofgem.gov.uk/press-release/ofgem-confirms-greater-protection-businesses#:~:text=Under%20the%20changes%2C%20Ofgem%20will,treat%20non%2Ddomestic%20customers%20fairly"
   target="_blank"
   rel="noopener noreferrer">Ofgem Press Release</a>)
            </p>
            <p>
                The price cap also makes sure that prices for people on a standard variable tariff (default tariff) are fair and that they reflect the cost of energy.
            </p>
            <p>You are covered by the price cap if you pay for your electricity and gas by either:</p>
            <ul>
                <li>standard credit (payment made when you get your electricity and gas bill)</li>
                <li>Direct Debit</li>
                <li>prepayment meter</li>
                <li>Economy 7 (E7) meter</li>
            </ul>
            <p>
                For the latest update on Aug 27th 2024, please click here: <a href="https://www.ofgem.gov.uk/energy-price-cap"
    target="_blank"
    rel="noopener noreferrer">Ofgem Energy Price Cap</a>
            </p>
        </section>
        <h1 class="mi fs-4">Changes to our terms</h1>
        <p>
            Since our previous communication in August 2022, we are proud to assure you that our <strong>Price Promise</strong> is back and in full flow.
        </p>
        <p>
            As always, we will continue to benchmark pricing and suppliers for the best possible terms and rest assured we procure cost effectively.
        </p>
        <p>If you have any questions, please feel free to contact us.</p>
        <div class="contact-info">
            <p>The Energy Portfolio Team</p>
            <p>
                Email: <a href="mailto:help@energyportfolio.co.uk">help@energyportfolio.co.uk</a>
            </p>
            <p>
                For new accounts, contact <a href="mailto:Jordan@energyportfolio.co.uk">Jordan@energyportfolio.co.uk</a>
            </p>
            <p>For existing customers, please contact your account manager directly</p>
        </div>
    </div>
{% endblock content %}
