{% extends "base.html" %}
{% block html_title %}
    {{ html_title }}
{% endblock html_title %}
{% block metadescription %}
    <meta name="description"
          content="Energy Portfolio. Latest information on the fast changing energy market  ">
{% endblock metadescription %}
{% block content %}
    <div class="container py-5">
        <h4>Market Update, Useful Information & Terms Change - Autumn 2022</h4>
        <p>
            <strong>Last updated: 21/10/2022</strong>
        </p>
        <p>
            The government’s Energy Price Guarantee was set to extend the price cap for landlord supplies in residential blocks of flats and communal heating/hot water systems to TWO years from 1 October 2022. However, this extension has been reversed. There will be only six months’ support, as announced by Jeremy Hunt, Chancellor of the Exchequer, on Monday 17 October.
        </p>
        <p>
            This means the Energy Price Guarantee will last until 31st March 2023, although the government will launch a "Treasury-led review" to see how it may help households, businesses and landlord supplies in blocks of flats (we hope) with energy costs from April.
        </p>
        <p>
            We will provide updates as we learn more and we continue to work with the Energy suppliers to finalise how the scheme will function in reality, however rest assured Energy Portfolio will manage this process for you to ensure your clients receive the full benefit of this scheme.
        </p>
        <p>Please note: all contracts that we agree on behalf of your clients are ‘non-domestic’ agreements.</p>
        <p>
            You must continue to pay any outstanding invoices as suppliers will disconnect meters for unpaid debts; credits will be applied if your meter is eligible under the Energy Bill Relief Scheme (EBRS). Please note many of your contracts are well below the rates offered under the scheme.
        </p>
        <h5>What we know about this scheme</h5>
        <p>The scheme will be available to everyone on a non-domestic contract including:</p>
        <ul>
            <li>landlord supplies</li>
            <li>businesses</li>
            <li>voluntary sector organisations, such as charities</li>
            <li>public sector organisations such as schools, hospitals and care homes</li>
            <li>‘shared heat networks’ in flats, which will benefit from a £400 one-off payment this winter (per flat)</li>
        </ul>
        <p>This will impact the above:</p>
        <ul>
            <li>existing fixed price contracts that were agreed on or after 1 December 2021</li>
            <li>on signing new fixed price contracts</li>
            <li>on deemed/out of contract or variable tariffs</li>
            <li>on flexible purchase or similar contracts</li>
        </ul>
        <p>
            And after the six months, ministers will focus support on the ‘vulnerable’, although they have yet to define which industries are in scope.
        </p>
        <p>
            The wholesale discounts will be applied to energy usage initially between 1 October 2022 and 31 March 2023. The discount is automatic and we require no further information from you at this stage.
        </p>
        <p>
            If you do not see any discounts during this period, this is because your current contract is cheaper than the rates available under the Scheme or it was agreed before 1 December 2022 which again would mean your contract is already competitive and you are not entitled to any benefits.
        </p>
        <p>
            Suppliers will apply reductions to the bills of all eligible non-domestic customers. The government will compensate suppliers for the reduction in wholesale gas and electricity unit prices that they are passing onto non-domestic customers.
        </p>
        <p>
            The discount applied will be in pence per kilowatt hour (p/kWh). The p/kWh government support for comparable contracts will be the same across suppliers, but the absolute level of individual bills will continue to vary across different contracts and tariffs.
        </p>
        <h5>What about my current outstanding invoices?</h5>
        <p>
            It is important that you pay any outstanding invoices as suppliers will disconnect meters for unpaid debts. Credits will be applied automatically if your meter is eligible for the Scheme.
        </p>
        <h5>What if you are out of contract now?</h5>
        <p>
            If you are out of contract, the government advises that you set up a contract now and you will automatically enjoy the appropriate reductions to your energy price for the six month period set to end on 31 March 2023.
        </p>
        <h5>What if you are about to sign a new fixed price contract?</h5>
        <p>
            Energy Portfolio will still sign a fixed-term contract as the relevant price reduction will be automatically applied to your client’s bill by the supplier. If you remain on out of contract rates, you will still get support from the scheme but you will likely be paying more than if you are in contract.
        </p>
        <h5>What if we signed an agreement before the 1st December 2021?</h5>
        <p>
            If you signed before the 1st December 2021, you will have missed the cut off and not be eligible for the support scheme. This is because you have not been exposed to the recent rises in wholesale prices, so you will not be eligible for support under the scheme.
        </p>
        <p>
            It is also important to note not all contracts placed in this extended period will be eligible for a discount as some of the wholesale rates were below the government caps.  It like that contract agreed after the 26th December for Electricity and Gas after 21 February will receive the benefit.
        </p>
        <h5>Will I have to apply for the discount?</h5>
        <p>
            No. The discount will be automatically applied by the suppliers and fully managed by Energy Portfolio. You will not need to do anything or contact your supplier to have this applied if you are eligible.
        </p>
        <h5>How does this compare to the residential cap announced by government on the 8 September 2022?</h5>
        <p>
            Under the government’s plan, energy suppliers will be allowed to incorporate a capped wholesale price of 21.1p per kilowatt-hour for electricity and 7.5p/kWh for gas when calculating rates for ‘non-domestic’ customers.
        </p>
        <p>
            It is important to note that the capped wholesale prices will not be the final rates that businesses pay as there will be other charges on top meaning the rates in reality are much higher.
            As always, Energy Portfolio will continue where possible in a difficult trading market to obtain at least three comparable quotes before agreeing to a contract.
        </p>
        <p>
            The domestic retail cap announced by ministers for household energy bills was set at 34p/kWh for electricity and 10.3p/kWh for gas. Providing government support for households with their gas and electricity bills has been relatively straightforward because there is an existing retail price cap which dictates the amount paid by the majority of households.
        </p>
        <h4>Changes to our terms</h4>
        <p>
            As per our previous communication in August, if you are a client that operates under our framework agreement, we offer various guarantees including a market-leading price promise. From the original date of this market update (21 September 2022), we can no longer offer the price promise guarantee as the current exposure is impossible to underwrite. The market is experiencing extreme volatility and rates are at unprecedented levels, with daily increases in pricing.
        </p>
        <p>
            As always, we will continue to benchmark pricing and suppliers for the best possible terms and rest assured once the market stabilises, we will return to our default position.
        </p>
        <p class="mb-3">
            <strong>If you have any questions, please feel free to contact us.
                <br>
            The Energy Portfolio Team</strong>
        </p>
    </div>
{% endblock content %}
