<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h4>Meter Reading Submission</h4>
        <ul>
            <li>Name: {{ name }}</li>
            <li>Contact Email: {{ contact_email }}</li>
            <li>Address of Meter: {{ address_of_meter }}</li>
            <li>Supplier:{{ current_supplier }}</li>
            <li>MPAN/MPR: {{ mpan_mpr }}</li>
            <li>Meter Serial Number: {{ meter_serial_number }}</li>
            <li>Utility: {{ energy_type }}</li>
            <li>Meter Reading Date: {{ meter_reading_date }}</li>
            <li>Meter Reading: {{ meter_reading }}</li>
        </ul>
    </body>
</html>
