{% extends "base.html" %}
{% load static %}
{% block html_title %}
    {{ html_title }}
{% endblock html_title %}
{% block metadescription %}
    <meta name="description"
          content="Seamless Utilities is a complete on-the-cloud Property Management Platform that manages all utilities invoices- Removing the manual intervention of processing thousands of paper invoices per year">
{% endblock metadescription %}
{% block content %}
    <section class="seamless-utilities mt-4 align-center">
        <div class="container py-4">
            <h3 class="section-headings mb-4">Changing the way the Property Sector manages utilities</h3>
            <p>
                <img src="{% static 'img/seamless-utilities-logo.png' %}"
                     class="img-fluid"
                     alt="Seamless Utilities Logo">
            </p>
        </div>
    </section>
    <div class="container py-4">
        <h4 class="section-headings">Our Mission</h4>
        <p>
            We want to change the way the Property Sector manage and procure utilities.  We understand what you need and the challenges you face now and in the future. You need Property Managers to focus on managing property rather than utility bills.
        </p>
        <h4 class="section-headings">Who are we?</h4>
        <p>
            Energy Portfolio and Dwellant have come together to form a unique offering for the Managing Agent sector which will completely revolutionise the way utility invoices are both validated and uploaded into your accounts platform saving you time, money and valuable resource.
        </p>
        <p>
            Following a long period of consultation and successful launch in 2019, we have formed Seamless Utilities and this unique offering is set to become the new benchmark for the way the property management procure and manage utility invoices.
        </p>
        <section class="solution">
            <p class="align-center">
                <img src="{% static 'img/seamless-utilities-ven-diagram.png' %}"
                     height="350"
                     alt="Seamless Utilities Logo">
            </p>
            <h4 class="section-headings mt-2 mb-2">The Solution</h4>
            <p>
                Our solution will satisfy all of your requirements and deliver a significant reduction on the time your administration team manage energy bills and payments whilst providing a seamless service to your clients
            </p>
            <ul>
                <li>
                    Seamless Utilities is a complete on-the-cloud Property Management Platform that manages all utilities invoices- Removing the manual intervention of processing thousands of paper invoices per year
                </li>
                <li>
                    Property Managers can concentrate on managing property rather than utility bills- We simplify the complex energy spend management process for multisite businesses by automating management, payment, and validation, providing complete control over the energy spend life cycle
                </li>
                <li>
                    The platform captures and validates invoices, automates the accounts’ payable function, provides opportunities to reduce costs, and provides real‐time energy and financial information at the touch of a button
                </li>
                <li>
                    We provide exception management in order to deliver a significant reduction in the number of errors incurred. This provides real-time data which is accurate and instantly accessible, anywhere anytime
                </li>
            </ul>
        </section>
        <h4 class="section-headings"></h4>
        <p>
            Energy procurement can be complicated especially for large property portfolios however Energy Portfolio make it look easy and will guarantee an enhanced service that we believe other brokers can’t compete with
        </p>
        <ul>
            <li>Save time - focus resources on property management, clients and residents instead of admin tasks</li>
            <li>Save money and spend money in other areas of the business instead of on invoice processing tasks and staff</li>
            <li>
                Transparency - have clear, concise records that are automatically generated and give access to the people that need it
            </li>
            <li>
                Connectivity - bring everything together under one roof, reduce the number of different systems used and paid for
            </li>
            <li>All supported by our market leading service guarantees</li>
        </ul>
    </div>
    <br>
{% endblock content %}
