{% extends "base.html" %}
{% block html_title %}
    Reset your password
{% endblock html_title %}
{% block content %}
    <div class="row mt-4">
        <div class="mx-auto col-md-6 col-lg-4 col-sm-12">
            <h3>Reset your password?</h3>
            <p>Enter your new password.</p>
            <form action="{% url 'users:reset_password' %}" method="post">
                {% csrf_token %}
                <label>
                    <b>Password</b>
                </label>
                <label for="password"></label>
                <input type="password"
                       class="form-control"
                       name="password"
                       placeholder="Set New Password">
                <label>
                    <b>Confirm Password</b>
                </label>
                <label for="confirm_password"></label>
                <input type="password"
                       class="form-control"
                       name="confirm_password"
                       placeholder="Confirm your password">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input class="btn btn-warning mt-4" type="submit" value="Reset My Password">
                        <a class="btn btn-danger mt-4" href="{% url 'pages:home' %}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
